.sponsor-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    justify-content: center; /* Center content vertically */
    margin-top: 20px; /* Add margin-top to create spacing */
    text-align: center; /* Ensure text inside is centered */
    min-height: 150px; 
  }
  
  .sponsorsImages {
    max-width: 150px; /* Reduce the size of the image */
    width: 100%; /* Ensure it scales well on different screen sizes */
    height: auto; /* Maintain aspect ratio */
    margin: 0 auto 10px; /* Center the image and add space between image and text */
    display: block; /* Ensure the image is treated as a block-level element for centering */
    border-radius: 20px;
  }
  
  .sponsor-text {
    font-size: 18px; /* Text size */
    color: white; /* Text color */
    font-weight: 500; /* Optional boldness */
  }
  .sponsor-location {
    font-size: 16px; /* Adjust font size */
    color: #fff; /* Ensure the text color is visible */
    text-align: center; /* Center align the text */
    font-style: italic; /* Italicize the text */
    margin-top: 5px; /* Add spacing between the lines */
    padding: 5px 0; /* Add padding for better spacing */
    margin-top: 10px !important;
     
  }